src/assets/* linguist-vendored
src/*.scss linguist-vendored
src/app/*.scss linguist-vendored
src/app/*/*.scss linguist-vendored
src/app/*/*/*.scss linguist-vendored
src/app/*/*/*/.scss linguist-vendored
src/app/*/*/*/*.scss linguist-vendored
