<form (ngSubmit)="updateCompany(f)" #f="ngForm">
  <h1>
    Update {{ companyForUpdate.companyName }}
  </h1>
  <div>
    <input type="text" [(ngModel)]="companyForUpdate.companyName" placeholder='Company Name' name="companyName">
  </div>
  <div>
    <input type="text" name="address" placeholder='Company Address' [(ngModel)]="companyForUpdate.address">
  </div>
  <div>
    <input type="text" name="telephoneNumber" placeholder='Telephone Number' [(ngModel)]="companyForUpdate.telephoneNumber">
  </div>
  <div>
    <input type="text" name="companyUrl" plcaeholder='Company Url' [(ngModel)]="companyForUpdate.companyUrl">
  </div>
  <div>
    <input type="text" name="email" placeholder='Email' [(ngModel)]="companyForUpdate.email">
  </div>
  <div>
    <button>Update Company</button>
  </div>
</form>
