<div class="detail-content-container">
  <h3 class="tag">#{{ jobRequestForDisplay.id }} {{ jobRequestForDisplay.description }}</h3>
  <div class="status">{{ jobRequestForDisplay.status }}</div>
  <div class="duration">{{ jobRequestForDisplay.startDate }} to {{ jobRequestForDisplay.endDate }}</div>
  <div class="expiry">{{ jobRequestForDisplay.closedDate }}</div>
  <div class="detail-btn-group">
    <button (click)="gotoContracts()">
      View Contracts
    </button>
    <button (click)="onUpdate()">Update Requests</button>
    <button (click)="deleteJobRequest()">Delete</button>
  </div>
</div>
