<form (ngSubmit)="createContract(f)" #f="ngForm">
  <h3>Create Contract</h3>
  <div>
    <label for="contractorName">Contractor Name:</label>
    <input type="text" ngModel name="contractorName">
  </div>
  <div>
    <label for="type">Contract Type: </label>
    <input type='text' name='type' placeholder='billboard | radioad | commercial | poster' ngModel />
  </div>
  <div>
    <label for="duration">Duration</label>
    <div class='schedule-picker'>
      <input type="date" name="startDate" ngModel>
      <span> to </span>
      <input type="date" name="endDate" ngModel>
    </div>
  </div>
  <div>
    <button>Create Contract</button>
  </div>
</form>
