<form (ngSubmit)="updateJobRequest(f)" #f="ngForm">
    <div>
      <label for="displayHandler">Display Handler</label>
      <input 
        type="text" 
        [(ngModel)] = "jobRequestForUpdate.displayHandler" 
        name="displayHandler">
    </div>
    <div>
        <label for="contact">Contact Person</label>
        <input 
          type="text" 
          name="contact"
          [(ngModel)] = "jobRequestForUpdate.contact">
      </div>
    <div>
        <label for="description">Description</label>
        <input 
          type="text" 
          name="description"
          [(ngModel)] = "jobRequestForUpdate.description">
    </div>
    <div>
        <label for="duration">Duration</label>
        <input
          type="date" 
          name="startDate" 
          [(ngModel)] = "startDate">
        <span> to </span>
        <input 
          type="date" 
          name="endDate" 
          [(ngModel)] = "endDate">
    </div>
    <div>
        <label for="expirationDate">Expiry Date</label>
        <input 
          type="date" 
          name="expirationDate" 
          [(ngModel)] = "expiryDate">
    </div>
    <div>
        <label for="status">Status</label>
        <input 
          type="text" 
          name="status" 
          [(ngModel)] = "jobRequestForUpdate.status">
    </div>
    <div>
      <button>Update Request</button>
    </div>
  </form>
  