<form (ngSubmit)="updateContract(f)" #f="ngForm">
  <div>
    <label for="contractorName">Contractor Name:</label>
    <input 
      type="text" 
      [(ngModel)] = "contractForUpdate.contractorName" 
      name="contractorName">
  </div>
  <div>
      <label for="type">Contract Type: </label>
      <input 
        type="text" 
        name="type"
        [(ngModel)] = "contractForUpdate.type">
    </div>
  <div>
      <label for="status">Contract Status</label>
      <input 
        type="text" 
        name="status"
        [(ngModel)] = "contractForUpdate.status">
  </div>
  <div>
      <label for="duration">Duration</label>
      <input
        type="date" 
        name="startDate" 
        [(ngModel)] = "startDate">
      <span> to </span>
      <input 
        type="date" 
        name="endDate" 
        [(ngModel)] = "endDate">
  </div>
  <div>
    <button>Update Contract</button>
  </div>
</form>