.content-header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    grid-template-areas: "jobRequest jr_id contracts contract_id" "notification notification notification notification"
}

.notification {
    grid-area: notification;
}

.jobRequest {
    grid-area: jobRequest;
    font-size: 35px;
}

.jr_id {
    grid-area: jr_id;
    font-weight: 600;
    font-size: 18px;
}

.contracts {
    grid-area: contracts;
    font-weight: 600;
    font-size: 18px;
}

.contract_id {
    grid-area: contract_id;
    font-weight: 600;
    font-size: 18px;
}
