<div class="detail-content-container">
  <h3 class="tag">#{{ contractForDisplay.id }}</h3>
  <div class="status">{{ contractForDisplay.contractorName }}</div>
  <div class="contact">{{ contractForDisplay.type }}</div>
  <div class="description">{{ contractForDisplay.status }}</div>
  <div class="duration">{{ contractForDisplay.startDate }} to {{ contractForDisplay.endDate }}</div>
  <div class="detail-btn-group">
    <button [routerLink]="['/test',{outlets:{ primary: ['jobrequests', contractForDisplay.jobRequest.id, 'contracts', contractForDisplay.id, 'update'], listcontent: ['jobrequests', contractForDisplay.jobRequest.id, 'contracts']}}]">
      Update Contract
    </button>
    <button (click)="deleteContract()">Delete Contract</button>
  </div>
</div>
