<div class="detail-content-container">
  <h3 class="tag">#{{ contractForDisplay.id }}</h3>
  <div class="">{{ contractForDisplay.contractorName | titlecase }}</div>
  <div class="contact">{{ contractForDisplay.type | titlecase }}</div>
  <div class="status">
    <span class='color-status {{ contactForDisplay.status }}'></span>
    {{ contractForDisplay.status }}
  </div>
  <div class="duration">{{ contractForDisplay.startDate }} to {{ contractForDisplay.endDate }}</div>
  <div class="detail-btn-group">
    <button *ngIf="contractForDisplay.status !== 'CLOSED'" (click)="onUpdate()">
      Update Contract
    </button>
    <button (click)="deleteContract()">Delete Contract</button>
  </div>
</div>
