<div class="detail-content-container">
  <h3 class="tag">#{{ jobRequestForDisplay.id }} {{ jobRequestForDisplay.displayHandler }}</h3>
  <div class="status">{{ jobRequestForDisplay.status }}</div>
  <div class="contact">{{ jobRequestForDisplay.contact }}</div>
  <div class="description">{{ jobRequestForDisplay.description }}</div>
  <div class="duration">{{ jobRequestForDisplay.startDate }} to {{ jobRequestForDisplay.endDate }}</div>
  <div class="expiry">{{ jobRequestForDisplay.expiryDate }}</div>
  <div class="detail-btn-group">
    <button>
      View Contracts
    </button>
    <button (click)="deleteJobRequest()">Delete</button>
  </div>
</div>
