<div class="register authentication">
    <div class="header">
      Getwork.
    </div>
    <div class="content">
      <div class="artwork animated fadeInUp">
        <object data="../../../assets/img/register-art.svg"></object>
      </div>
      <div class="authentication-form">
        <div class="form-container">
          <p class="title">Signup to Getwork</p>
          <p>Get started with Getwork.</p>
          <div class="form">
            <div class="input-form">
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-form">
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-form">
              <input type="password" placeholder="Password" />
            </div>
            <div class="input-form">
              <button>Register</button>
            </div>
          </div>
          <p (click)="goToLogin()">Already registered?</p>
        </div>
      </div>
    </div>
  </div>
  