.register {
    .header {
        margin-bottom: 5vh;
    }
    .content {
        .artwork {
            margin-top: 10vh;
            
            object {
                max-height: 650px;
            }
        }
    }
}
