<div class="login authentication">
  <div class="header">
    Getwork.
  </div>
  <div class="content">
    <div class="artwork-container">
      <div class="artwork">
        <object class="animated pulse" data="../../../assets/img/login-art.svg"></object>
      </div>
    </div>
    <div class="authentication-form">
      <div class="form-container">
        <p class="title">Login</p>
        <p>{{ error || 'Login to Getwork'}}</p>
        <div class="form">
          <form (ngSubmit)="login(f)" #f="ngForm">
            <div class="input-form">
              <input type="text" placeholder="Email" name="email" ngModel />
            </div>
            <div class="input-form">
              <input type="password" placeholder="Password" name="password" ngModel />
            </div>
            <div class="input-form">
              <button>Login</button>
            </div>
          </form>
        </div>
        <p (click)="goToRegister()">Haven't registered?</p>
      </div>
    </div>
  </div>
</div>
