<div class="login authentication">
  <div class="header">
    Getwork.
  </div>
  <div class="content">
    <div class="artwork-container">
      <div class="artwork">
        <object class="animated pulse" data="../../../assets/img/login-art.svg"></object>
      </div>
    </div>
    <div class="authentication-form">
      <div class="form-container">
        <p class="title">Login</p>
        <p>You entered incorrect login details.</p>
        <div class="form">
          <div class="input-form">
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-form">
            <input type="password" placeholder="Password" />
          </div>
          <div class="input-form">
            <button [routerLink]="['/test']">Login</button>
          </div>
        </div>
        <p>Forgot Password?</p>
        <p (click)="goToRegister()">Haven't registered?</p>
      </div>
    </div>
  </div>
</div>
