<form (ngSubmit)="createJobRequest(f)" #f="ngForm">
  <!-- <div>
    <label for="displayHandler">Display Handler</label>
    <input type="text" name="displayHandler" ngModel>
  </div>
  <div>
      <label for="contact">Contact Person</label>
      <input type="text" name="contact" ngModel>
    </div> -->
  <div>
      <label for="description">Description</label>
      <input type="text" name="description" ngModel>
  </div>
  <div>
      <label for="duration">Duration</label>
      <input type="date" name="startDate" ngModel>
      <span> to </span>
      <input type="date" name="endDate" ngModel>
  </div>
  <div>
      <label for="closedDate">Closed Date</label>
      <input type="date" name="closedDate" ngModel>
  </div>
  <div>
    <button>Create Request</button>
  </div>
</form>
