<form>
  <div>
    <label for="displayHandler">Display Handler</label>
    <input type="text" name="displayHandler">
  </div>
  <div>
      <label for="description">Description</label>
      <input type="text" name="description">
  </div>
  <div>
      <label for="duration">Duration</label>
      <input type="date" name="startDate">
      <span> to </span>
      <input type="date" name="endDate">
  </div>
  <div>
      <label for="expirationDate">Expiry Date</label>
      <input type="date" name="expirationDate">
  </div>
  <div>
      <label for="status">Status</label>
      <input type="text" name="status">
  </div>
  <div>
    <button>Create Request</button>
  </div>
</form>
