<form (ngSubmit)="createCompany(f)" #f="ngForm">
  <h1>Add Company</h1>
  <div>
    <input type="text" name="companyName" placeholder='Company Name' ngModel>
  </div>
  <div>
    <input type="password" name="password" placeholder='Company Password' ngModel>
  </div>
  <div>
    <input type="text" name="address" placeholder='Company Address' ngModel>
  </div>
  <div>
    <input type="text" name="telephoneNumber" placeholder='Company Telephone Number' ngModel>
  </div>
  <div>
    <input type="text" name="companyUrl" placeholder='Company Url' ngModel>
  </div>
  <div>
    <input type="text" name="email" placeholder='Company Email' ngModel>
  </div>
  <div>
    <button>Create Company</button>
  </div>
</form>
