<form (ngSubmit)="createCompany(f)" #f="ngForm">
  <div>
    <label for="companyName">Company Name</label>
    <input type="text" name="companyName" ngModel>
  </div>
  <div>
    <label for="password">Company Password</label>
    <input type="password" name="password" ngModel>
  </div>
  <div>
      <label for="address">Company Address</label>
      <input type="text" name="address" ngModel>
    </div>
  <div>
      <label for="telephoneNumber">Company Telephone Number</label>
      <input type="text" name="telephoneNumber" ngModel>
  </div>
  <div>
    <label for="companyUrl">Company URL</label>
    <input type="text" name="companyUrl" ngModel>
  </div>
  <div>
      <label for="email">Email</label>
      <input type="text" name="email" ngModel>
  </div>
  <div>
    <button>Create Company</button>
  </div>
</form>
